<!doctype html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/my_playlists_style.css') }}">

  <title>My Playlists</title>
</head>
<body>

<h1>My Playlists</h1>

  <div id='toolbar'>
    <a id='toolbar_playlists' href='/my_playlists'>My Playlists</a>
    <a id='toolbar_tastes' href='/add_tastes'>Add Tastes</a>
    <a id='toolbar_profile'>My Profile</a>
  </div>

</body>
</html>
